<div id="sone">

	<script src="javascript/jquery-1.4.2.js" language="javascript"></script>
	<script src="javascript/sone.js" language="javascript"></script>

	<script language="javascript">
		$(document).ready(function() {
			registerInputTextareaSwap("#sone #update-status .status-input", "What are you doing?", "text");
		});
	</script>

	<div id="main">

		<div id="profile" class="<%ifnull currentSone>offline<%else>online<%/if>">
			<a class="picture" href="index.html">&nbsp;</a>
			<%ifnull ! currentSone>
				<div id="home-sone">
					<% currentSone|store key=sone>
					<%include include/viewSone.html>
					<%include include/updateStatus.html>
				</div>
			<%/if>
		</div>
