<script language="javascript">
	$(document).ready(function() {
		registerInputTextareaSwap("#sone #load-sone input[name=request-uri]", "WebInterface.DefaultText.LoadSoneRequestURI", "request-uri", false);
		registerInputTextareaSwap("#sone #load-sone input[name=insert-uri]", "WebInterface.DefaultText.LoadSoneInsertURI", "insert-uri", false);

		/* hide all the labels. */
		$("#sone #load-sone label").hide();
	});
</script>

<form id="load-sone" action="loadSone.html" method="post">
	<input type="hidden" name="formPassword" value="<% formPassword|html>" />
	<input type="hidden" name="returnPage" value="<% request.uri|html>" />
	<div>
		<label for="request-uri"><%= Page.Login.LoadSone.Label.RequestURI|l10n|html></label>
		<input type="text" name="request-uri" />
	</div>
	<div>
		<label for="insert-uri"><%= Page.Login.LoadSone.Label.InsertURI|l10n|html></label>
		<input type="text" name="insert-uri" />
	</div>
	<div>
		<button type="submit"><%= Page.Login.LoadSone.Button.LoadSone|l10n|html></button>
	</div>
</form>
