
	</div>

	<div id="tail">
		<div class="flattr-button">
			<a href="/?_CHECKED_HTTP_=http://flattr.com/thing/81996/Sone-The-Freenet-Social-Network-Plugin" target="_blank">
				<img src="images/flattr-badge-large.png" width="93" height="20" alt="Flattr Sone" title="Flattr Sone" />
			</a>
		</div>

		<div id="version-information">
			<div class="current-version"><%= WebInterface.VersionInformation.CurrentVersion|l10n|html> <b><% currentVersion|html></b></div>
			<%if hasLatestVersion>
				<div class="latest-version"><%= WebInterface.VersionInformation.LatestVersion|l10n|html> <b><% latestVersion|html></b></div>
			<%/if>
			<div class="homepage"><a href="/USK@nwa8lHa271k2QvJ8aa0Ov7IHAV-DFOCFgmDt3X6BpCI,DuQSUZiI~agF8c-6tjsFFGuZ8eICrzWCILB60nT8KKo,AQACAAE/sone/<%latestEdition|html>/"><%=WebInterface.VersionInformation.Homepage|l10n|html></a></div>
		</div>
	</div>

	<iframe id="icon-update" class="hidden" src="about:blank"></iframe>

</div>
