<form id="update-status" action="createPost.html" method="post">
	<input type="hidden" name="formPassword" value="<% formPassword|html>" />
	<input type="hidden" name="returnPage" value="<% request.uri|html>" />
	<label for="sender"><%= Page.Index.Label.Sender|l10n|html></label>
	<div class="sender">
		<select name="sender" title="<%= View.UpdateStatus.Text.ChooseSenderIdentity|l10n|html>">
			<%foreach localSones localSone>
				<option value="<% localSone.id|html>"<%if localSone.current> selected="selected"<%/if>><% localSone.niceName|html></option>
			<%/foreach>
		</select>
	</div>
	<div class="select-sender"><button type="button" title="<%= View.UpdateStatus.Text.ChooseSenderIdentity|l10n|html>">+</button></div><label for="text"><%= Page.Index.Label.Text|l10n|html></label>
	<input type="text" class="status-input" name="text" value="" />
	<button type="submit"><%= Page.Index.Button.Post|l10n|html></button>
</form>
