<div id="<% reply.id|html>" class="reply<%if reply.new> new<%/if>">
	<a name="reply-<% reply.id|html>"></a>
	<div class="reply-time hidden"><% reply.time|html></div>
	<div class="reply-author hidden"><% reply.sone.id|html></div>
	<div class="avatar">
		<img src="/WebOfTrust/GetIdenticon?identity=<% reply.sone.id|html>&amp;width=36&height=36" width="36" height="36" alt="Avatar Image" />
	</div>
	<div class="inner-part">
		<div>
			<div class="author profile-link"><a href="viewSone.html?sone=<% reply.sone.id|html>"><% reply.sone.niceName|html></a></div>
			<% reply.text|html|store key=originalText text=true>
			<% reply.text|parse sone=reply.sone|store key=parsedText text=true>
			<div class="reply-text raw-text<%if !raw> hidden<%/if>"><% originalText></div>
			<div class="reply-text text<%if raw> hidden<%/if>"><% parsedText></div>
		</div>
		<div class="reply-status-line status-line">
			<div class="time"><% reply.time|date format="MMM d, yyyy, HH:mm:ss"></div>
			<%if ! originalText|match key=parsedText>
				<span class='separator'>·</span>
				<div class="show-reply-source"><a href="viewPost.html?post=<% post.id|html>&amp;raw=<%if raw>false<%else>true<%/if>"><%= View.Post.ShowSource|l10n|html></a></div>
			<%/if>
			<div class="likes<%if reply.likes.size|match value=0> hidden<%/if>">
				<span class='separator'>·</span>
				<span title="<% reply.likes.soneNames|html>">↑<span class="like-count"><% reply.likes.size></span></span>
			</div>
			<%ifnull ! currentSone>
				<span class='separator'>·</span>
				<form class="like like-reply<%if reply.liked> hidden<%/if>" action="like.html" method="post">
					<input type="hidden" name="formPassword" value="<% formPassword|html>" />
					<input type="hidden" name="returnPage" value="<% request.uri|html>" />
					<input type="hidden" name="type" value="reply" />
					<input type="hidden" name="reply" value="<% reply.id|html>" />
					<button type="submit" value="1"><%= View.Post.LikeLink|l10n|html></button>
				</form>
				<form class="unlike unlike-reply<%if ! reply.liked> hidden<%/if>" action="unlike.html" method="post">
					<input type="hidden" name="formPassword" value="<% formPassword|html>" />
					<input type="hidden" name="returnPage" value="<% request.uri|html>" />
					<input type="hidden" name="type" value="reply" />
					<input type="hidden" name="reply" value="<% reply.id|html>" />
					<button type="submit" value="1"><%= View.Post.UnlikeLink|l10n|html></button>
				</form>
				<%if !reply.sone.current>
					<span class='separator'>·</span>
					<form class="trust reply-trust<%if reply.sone.trust.assigned> hidden<%/if>" action="trust.html" method="post">
						<input type="hidden" name="formPassword" value="<% formPassword|html>" />
						<input type="hidden" name="returnPage" value="<% request.uri|html>" />
						<input type="hidden" name="sone" value="<% reply.sone.id|html>" />
						<button type="submit" title="<%= View.Trust.Tooltip.Trust|l10n|html>">✓</button>
					</form>
					<form class="distrust reply-distrust<%if reply.sone.trust.assigned> hidden<%/if>" action="distrust.html" method="post">
						<input type="hidden" name="formPassword" value="<% formPassword|html>" />
						<input type="hidden" name="returnPage" value="<% request.uri|html>" />
						<input type="hidden" name="sone" value="<% reply.sone.id|html>" />
						<button type="submit" title="<%= View.Trust.Tooltip.Distrust|l10n|html>">✗</button>
					</form>
					<form class="untrust reply-untrust<%if !reply.sone.trust.assigned> hidden<%/if>" action="untrust.html" method="post">
						<input type="hidden" name="formPassword" value="<% formPassword|html>" />
						<input type="hidden" name="returnPage" value="<% request.uri|html>" />
						<input type="hidden" name="sone" value="<% reply.sone.id|html>" />
						<button type="submit" title="<%= View.Trust.Tooltip.Untrust|l10n|html>">↶</button>
					</form>
				<%/if>
			<%/if>
			<%if reply.sone.local>
				<span class='separator'>·</span>
				<form class="delete delete-reply" action="deleteReply.html" method="post">
					<input type="hidden" name="formPassword" value="<% formPassword|html>" />
					<input type="hidden" name="returnPage" value="<% request.uri|html>" />
					<input type="hidden" name="reply" value="<% reply.id|html>" />
					<button type="submit"><%= View.Post.Reply.DeleteLink|l10n|html></button>
				</form>
			<%/if>
		</div>
	</div>
</div>
