<div id="post-<% post.id|html>" class="post<%if loop.last> last<%/if><%if !post.sone.local><%if post.new> new<%/if><%/if>">
	<a name="post-<% post.id|html>"></a>
	<div class="post-time hidden"><% post.time|html></div>
	<div class="post-author hidden"><% post.sone.id|html></div>
	<div class="post-author-local hidden"><% post.sone.local></div>
	<%include include/soneMenu.html class=="sone-post-menu" sone=post.sone>
	<div class="avatar post-avatar" >
		<%if post.loaded>
			<%ifnull !post.sone.profile.avatar>
				<%post.sone.profile.avatar|image-link max-width==48 max-height==48 mode==enlarge title=="Avatar Image">
			<%else>
				<img src="/WebOfTrust/GetIdenticon?identity=<% post.sone.id|html>&amp;width=96&amp;height=96" width="48" height="48" alt="Avatar Image" />
			<%/if>
		<%else>
			<img src="images/sone-avatar.png" width="48" height="48" alt="Avatar Image" />
		<%/if>
	</div>
	<div class="inner-part">
		<div<%if !post.loaded> class="hidden"<%/if>>
			<div class="author profile-link"><a href="viewSone.html?sone=<% post.sone.id|html>"><% post.sone.niceName|html></a></div>
			<%if post.recipientId.present>
				<span class="recipient-to">→</span>
				<%if !post.recipient.present>
					<div class="recipient profile-link"><a href="viewSone.html?sone=<% post.recipientId.get|html>"><%= View.Post.UnknownAuthor|l10n|html></a></div>
				<%else>
					<div class="recipient profile-link"><a href="viewSone.html?sone=<% post.recipientId.get|html>"><% post.recipient.get.niceName|html></a></div>
				<%/if>
			<%/if>
			<% post.text|html|store key==originalText text==true>
			<% post.text|parse sone=post.sone|store key==parsedText>
			<% parsedText|render|store key==renderedText text==true>
			<% parsedText|shorten length=core.preferences.charactersPerPost cut-off-length=core.preferences.postCutOffLength|render|store key==shortText text==true>
			<div class="post-text raw-text<%if !raw> hidden<%/if>"><% originalText></div>
			<div class="post-text text<%if raw> hidden<%/if><%if !shortText|match key=renderedText> hidden<%/if>"><% renderedText></div>
			<div class="post-text short-text<%if raw> hidden<%/if><%if shortText|match key=renderedText> hidden<%/if>"><% shortText></div>
			<%if !shortText|match value=renderedText><%if !raw><a class="expand-post-text" href="viewPost.html?post=<% post.id|html>&amp;raw=true"><%= View.Post.ShowMore|l10n|html></a><%/if><%/if>
			<%if !shortText|match value=renderedText><%if !raw><a class="shrink-post-text hidden"><%= View.Post.ShowLess|l10n|html></a><%/if><%/if>
			<% parsedText|linked-images|store key==linkedImages>
			<% foreach linkedImages linkedImage>
				<% first>
					<div class="linked-images">
				<%/first>
				<a href="/<% linkedImage.link|html>">
					<span class="linked-image" title="<% linkedImage.link|html>" style="background-image: url('/<% linkedImage.link|html>')"/>
				</a>
				<% last>
					</div>
				<%/last>
			<%/foreach>
		</div>
		<div class="post-status-line status-line<%if !post.loaded> hidden<%/if>">
			<div class="bookmarks">
				<form class="unbookmark<%if !post.bookmarked> hidden<%/if>" action="unbookmark.html" method="post">
					<input type="hidden" name="formPassword" value="<% formPassword|html>" />
					<input type="hidden" name="returnPage" value="<% request.uri|html>" />
					<input type="hidden" name="post" value="<% post.id|html>" />
					<button type="submit" title="<%= View.Post.Bookmarks.PostIsBookmarked|l10n|html>">★</button>
				</form>
				<form class="bookmark<%if post.bookmarked> hidden<%/if>" action="bookmark.html" method="post">
					<input type="hidden" name="formPassword" value="<% formPassword|html>" />
					<input type="hidden" name="returnPage" value="<% request.uri|html>" />
					<input type="hidden" name="post" value="<% post.id|html>" />
					<button type="submit" title="<%= View.Post.Bookmarks.PostIsNotBookmarked|l10n|html>">☆</button>
				</form>
			</div>
			<span class='separator'>·</span>
			<div class="time"><a href="viewPost.html?post=<% post.id|html>"><% post.time|date format=="MMM d, yyyy, HH:mm:ss"></a></div>
			<span class='separator'>·</span>
			<div class="permalink permalink-post"><a href="post://<%post.id|html>">[<%= View.Post.Permalink|l10n|html>]</a></div>
			<span class='separator'>·</span>
			<div class="permalink permalink-author"><a href="sone://<%post.sone.id|html>">[<%= View.Post.PermalinkAuthor|l10n|html>]</a></div>
			<%if ! originalText|match value=renderedText>
				<span class='separator'>·</span>
				<div class="show-source"><a href="viewPost.html?post=<% post.id|html>&amp;raw=<%if raw>false<%else>true<%/if>"><%= View.Post.ShowSource|l10n|html></a></div>
			<%/if>
			<div class="likes<%if post.likes.size|match value==0> hidden<%/if>">
				<span class='separator'>·</span>
				<span title="<% post.likes.soneNames|html>">↑<span class="like-count"><% post.likes.size></span></span>
			</div>
			<%ifnull ! currentSone>
				<span class='separator'>·</span>
				<form class="like like-post<%if post.liked> hidden<%/if>" action="like.html" method="post">
					<input type="hidden" name="formPassword" value="<% formPassword|html>" />
					<input type="hidden" name="returnPage" value="<% request.uri|html>" />
					<input type="hidden" name="type" value="post" />
					<input type="hidden" name="post" value="<% post.id|html>" />
					<button type="submit" value="1"><%= View.Post.LikeLink|l10n|html></button>
				</form>
				<form class="unlike unlike-post<%if ! post.liked> hidden<%/if>" action="unlike.html" method="post">
					<input type="hidden" name="formPassword" value="<% formPassword|html>" />
					<input type="hidden" name="returnPage" value="<% request.uri|html>" />
					<input type="hidden" name="type" value="post" />
					<input type="hidden" name="post" value="<% post.id|html>" />
					<button type="submit" value="1"><%= View.Post.UnlikeLink|l10n|html></button>
				</form>
				<%if !post.sone.current>
					<%ifnull !post.sone.trust>
						<span class='separator'>·</span>
						<form class="trust post-trust<%if post.sone.trust.assigned> hidden<%/if>" action="trust.html" method="post">
							<input type="hidden" name="formPassword" value="<% formPassword|html>" />
							<input type="hidden" name="returnPage" value="<% request.uri|html>" />
							<input type="hidden" name="sone" value="<% post.sone.id|html>" />
							<button type="submit" title="<%= View.Trust.Tooltip.Trust|l10n|html>">✓</button>
						</form>
						<form class="distrust post-distrust<%if post.sone.trust.assigned> hidden<%/if>" action="distrust.html" method="post">
							<input type="hidden" name="formPassword" value="<% formPassword|html>" />
							<input type="hidden" name="returnPage" value="<% request.uri|html>" />
							<input type="hidden" name="sone" value="<% post.sone.id|html>" />
							<button type="submit" title="<%= View.Trust.Tooltip.Distrust|l10n|html>">✗</button>
						</form>
						<form class="untrust post-untrust<%if !post.sone.trust.assigned> hidden<%/if>" action="untrust.html" method="post">
							<input type="hidden" name="formPassword" value="<% formPassword|html>" />
							<input type="hidden" name="returnPage" value="<% request.uri|html>" />
							<input type="hidden" name="sone" value="<% post.sone.id|html>" />
							<button type="submit" title="<%= View.Trust.Tooltip.Untrust|l10n|html>">↶</button>
						</form>
					<%/if>
				<%/if>
			<%/if>
			<%if post.sone.local>
				<span class='separator'>·</span>
				<form class="delete delete-post" action="deletePost.html" method="post">
					<input type="hidden" name="formPassword" value="<% formPassword|html>" />
					<input type="hidden" name="returnPage" value="<% request.uri|html>" />
					<input type="hidden" name="post" value="<% post.id|html>" />
					<button type="submit"><%= View.Post.DeleteLink|l10n|html></button>
				</form>
			<%/if>
		</div>
		<div<%if post.loaded> class="hidden"<%/if>>
			<%= View.Post.NotDownloaded|l10n|html>
		</div>
		<div class="replies">
			<%foreach post.replies reply>
				<%include include/viewReply.html>
			<%/foreach>
			<%ifnull ! currentSone>
				<div class="create-reply">
					<form method="post" action="createReply.html">
						<input type="hidden" name="formPassword" value="<% formPassword|html>" />
						<input type="hidden" name="returnPage" value="<% request.uri|html>" />
						<input type="hidden" name="post" value="<% post.id|html>" />
						<div class="sender">
							<select name="sender" title="<%= View.UpdateStatus.Text.ChooseSenderIdentity|l10n|html>">
								<%foreach localSones localSone|sort>
									<option value="<% localSone.id|html>"<%if localSone.current> selected="selected"<%/if>><% localSone.niceName|html></option>
								<%/foreach>
							</select>
						</div>
						<div class="select-sender"><button type="button" title="<%= View.UpdateStatus.Text.ChooseSenderIdentity|l10n|html>">+</button></div>
						<textarea class="rip-out reply-input" name="text"></textarea>
						<button type="submit"><%= View.Post.SendReply|l10n|html></button>
					</form>
				</div>
			<%/if>
		</div>
	</div>
</div>
