<div class="sone <% sone.status><%if sone.modified> modified<%/if>">
	<div class="profile-link"><a href="viewSone.html?sone=<% sone.id>" title="<% sone.requestUri|html>"><% sone.niceName|html></a></div>
	<div class="last-update">(<%= View.Sone.Label.LastUpdate|l10n|html> <% sone.time|date format="MMM d, yyyy, HH:mm:ss">)</div>
	<div class="unknown-marker">?</div>
	<div class="modified-marker">!</div>
	<div class="download-marker">⬊</div>
	<div class="insert-marker">⬈</div>
	<div class="idle-marker"></div>
	<%ifnull ! currentSone>
		<%if ! sone.current>
			<%if sone.friend>
				<form class="unfollow" action="unfollowSone.html" method="post">
					<input type="hidden" name="formPassword" value="<% formPassword|html>" />
					<input type="hidden" name="sone" value="<% sone.id>" />
					<button type="submit"><%= View.Sone.Button.UnfollowSone|l10n|html></button>
				</form>
			<%else>
				<form class="follow" action="followSone.html" method="post">
					<input type="hidden" name="formPassword" value="<% formPassword|html>" />
					<input type="hidden" name="sone" value="<% sone.id>" />
					<button type="submit"><%= View.Sone.Button.FollowSone|l10n|html></button>
				</form>
			<%/if>
			<%if sone.blocked>
				<form class="unblock" action="unblockSone.html" method="post">
					<input type="hidden" name="formPassword" value="<% formPassword|html>" />
					<input type="hidden" name="sone" value="<% sone.id>" />
					<button type="submit"><%= View.Sone.Button.UnblockSone|l10n|html></button>
				</form>
			<%else>
				<form class="block" action="blockSone.html" method="post">
					<input type="hidden" name="formPassword" value="<% formPassword|html>" />
					<input type="hidden" name="sone" value="<% sone.id>" />
					<button type="submit"><%= View.Sone.Button.BlockSone|l10n|html></button>
				</form>
			<%/if>
		<%/if>
	<%/if>
</div>
