<div id="<% post.id|html>" class="post <%if loop.last>last<%/if>">
	<div>
		<div class="author profile-link"><a href="viewSone.html?sone=<% post.sone.id|html>"><% post.sone.niceName|html></a></div>
		<div class="text"><% post.text|html></div>
	</div>
	<div class="status-line">
		<div class="time"><a href="viewPost.html?post=<% post.id|html>"><% post.time|date format="MMM d, yyyy, HH:mm:ss"></a></div>
		<div class="likes"><span>⬆<span class="like-count"><% post.likes.size></span></span></div>
		<%ifnull ! currentSone>
			<form class="like<%if post.liked> hidden<%/if>" action="likePost.html" method="post">
				<input type="hidden" name="formPassword" value="<% formPassword|html>" />
				<input type="hidden" name="returnPage" value="<% request.uri|html>" />
				<input type="hidden" name="post" value="<% post.id|html>" />
				<button type="submit" value="1"><%= View.Post.LikeLink|l10n|html></button>
			</form>
			<form class="unlike<%if ! post.liked> hidden<%/if>" action="unlikePost.html" method="post">
				<input type="hidden" name="formPassword" value="<% formPassword|html>" />
				<input type="hidden" name="returnPage" value="<% request.uri|html>" />
				<input type="hidden" name="post" value="<% post.id|html>" />
				<button type="submit" value="1"><%= View.Post.UnlikeLink|l10n|html></button>
			</form>
		<%/if>
		<%if post.sone.current>
			<form class="delete" action="deletePost.html" method="post">
				<input type="hidden" name="formPassword" value="<% formPassword|html>" />
				<input type="hidden" name="returnPage" value="<% request.uri|html>" />
				<input type="hidden" name="post" value="<% post.id|html>" />
				<button type="submit"><%= View.Post.DeleteLink|l10n|html></button>
			</form>
		<%/if>
	</div>
	<div class="replies">
		<%foreach post.replies reply>
			<div id="<% reply.id|html>" class="reply">
				<div>
					<div class="author profile-link"><a href="viewSone.html?sone=<% reply.sone.id|html>"><% reply.sone.niceName|html></a></div>
					<div class="text"><% reply.text|html></div>
				</div>
				<div class="status-line">
					<div class="time"><% reply.time|date format="MMM d, yyyy, HH:mm:ss"></div>
					<%if reply.sone.current>
						<form class="delete" action="deleteReply.html" method="post">
							<input type="hidden" name="formPassword" value="<% formPassword|html>" />
							<input type="hidden" name="returnPage" value="<% request.uri|html>" />
							<input type="hidden" name="reply" value="<% reply.id|html>" />
							<button type="submit"><%= View.Post.Reply.DeleteLink|l10n|html></button>
						</form>
					<%/if>
				</div>
			</div>
		<%/foreach>
		<%ifnull ! currentSone>
			<div class="create-reply">
				<form method="post" action="createReply.html">
					<input type="hidden" name="formPassword" value="<% formPassword|html>" />
					<input type="hidden" name="returnPage" value="<% request.uri|html>" />
					<input type="hidden" name="post" value="<% post.id|html>" />
					<input type="text" class="reply-input" name="text" value="" />
					<button type="submit"><%= View.Post.SendReply|l10n|html></button>
				</form>
			</div>
		<%/if>
	</div>
</div>
