/* Sone Main CSS File */

/* first, override some fproxy rules. */
#sone .post .reply div,#sone .post .time,#sone .post .delete,#sone .post .show-reply-form
	{
	font-size: inherit;
}

#sone form {
	margin: 0px;
}

/* now for the real stuff. */

#sone {
	width: 50em;
	margin: auto;
}

#sone .hidden {
	display: none;
}

#sone a {
	color: inherit;
	text-decoration: none;
}

#sone a:visited {
	color: inherit;
}

#sone #sidebar {
	width: 200px;
	position: absolute;
}

#sone .profile-link {
	font-weight: bold;
	color: #23e;
}

#sone #profile .picture {
	float: left;
}

#sone .nice-name {
	font-weight: bold;
}

#sone #main {
	margin-left: 200px;
	padding-left: 1em;
}

#sone .post {
	padding: 1ex 0px;
	border-bottom: solid 1px #ccc;
	margin-bottom: 1ex;
}

#sone .post .author {
	display: inline;
	font-weight: bold;
}

#sone .post .text {
	display: inline;
	white-space: pre-wrap;
}

#sone .post .status-line {
	clear: both;
	font-size: 85%;
}

#sone .post .time {
	display: inline;
	color: #666;
}

#sone .post .delete {
	display: inline;
}

#sone .post .delete:before {
	content: ' ‧ ';
}

#sone .post .replies {
	clear: both;
	padding-top: 0.2ex;
}

#sone .post .reply {
	clear: both;
	background-color: #eef;
	font-size: 85%;
	margin: 1ex 0px;
	padding: 1ex;
}

#sone .post .reply .time {
	float: none;
	display: inline;
	color: #666;
	font-size: inherit;
}

#sone .post .show-reply-form {
	display: inline;
}

#sone .post .show-reply-form:before {
	content: ' ‧ ';
}

#sone .post .reply .status-line .delete {
	float: none;
	display: inline;
}

#sone .post .reply .status-line .delete:before {
	content: ' · ';
}

#sone .post .create-reply {
	clear: both;
	background-color: #eef;
	padding: 0.5ex;
}

#sone .post .create-reply.light button {
	display: none;
}

#sone h1 {
	font-family: inherit;
	font-size: 200%;
	font-weight: bold;
}

#sone .error label {
	color: red;
	font-weight: bold;
}

#sone input.createpost.default, input.reply-input.default {
	color: #888;
}
