/* Sone Main CSS File */

/* first, override some fproxy rules. */
#sone .post .reply div,#sone .post .time,#sone .post .delete,#sone .post .show-reply-form
	{
	font-size: inherit;
}

#sone form {
	margin: 0px;
}

/* now for the real stuff. */

#sone {
	width: 68em;
	margin: auto;
}

#sone .hidden {
	display: none;
}

#sone a, #sone a:link, #sone a:visited {
	color: rgb(28, 131, 191);
	font-size: inherit;
	text-decoration: none;
}

#sone a:active, #sone a:hover {
	color: rgb(255, 172, 0);
}

#sone #sidebar {
	width: 200px;
	position: absolute;
}

#sone .profile-link {
	font-weight: bold;
	color: rgb(28, 131, 191);
}

#sone #profile .picture {
	float: left;
}

#sone #profile .edit-profile-link {
	font-size: 85%;
}

#sone .nice-name {
	font-weight: bold;
}

#sone #main {
	margin-left: 200px;
	padding-left: 1em;
}

#sone .post {
	padding: 1ex 0px;
	border-bottom: solid 1px #ccc;
	margin-bottom: 1ex;
}

#sone .post .author {
	display: inline;
	font-weight: bold;
}

#sone .post .text {
	display: inline;
	white-space: pre-wrap;
}

#sone .post .status-line {
	clear: both;
	font-size: 85%;
}

#sone .post .time {
	display: inline;
	color: #666;
}

#sone .post .delete {
	display: inline;
}

#sone .post .delete:before {
	content: ' ‧ ';
}

#sone .post .replies {
	clear: both;
	padding-top: 0.2ex;
}

#sone .post .reply {
	clear: both;
	background-color: #eef;
	font-size: 85%;
	margin: 1ex 0px;
	padding: 1ex;
}

#sone .post .reply .time {
	float: none;
	display: inline;
	color: #666;
	font-size: inherit;
}

#sone .post .show-reply-form {
	display: inline;
	color: rgb(28, 131, 191);
	cursor: pointer;
}

#sone .post .show-reply-form:hover {
	color: rgb(255, 172, 0);
}

#sone .post .show-reply-form:before {
	content: ' ‧ ';
}

#sone .post .reply .status-line .delete {
	float: none;
	display: inline;
}

#sone .post .reply .status-line .delete:before {
	content: ' · ';
}

#sone .post .create-reply {
	clear: both;
	background-color: #eef;
	padding: 0.5ex;
}

#sone .post .create-reply.light button {
	display: none;
}

#sone .sone .profile-link {
	display: inline;
}

#sone .sone .request-uri {
	display: inline;
}

#sone .sone .download-marker, #sone .sone .insert-marker, #sone .sone .idle-marker {
	display: inline;
}

#sone .sone.idle .download-marker, #sone .sone.idle .insert-marker {
	display: none;
}

#sone .sone.downloading .insert-marker, #sone .sone.downloading .idle-marker {
	display: none;
}

#sone .sone.inserting .download-marker, #sone .sone.inserting .idle-marker {
	display: none;
}

#sone .sone .modified-marker {
	display: none;
}

#sone .sone.modified .modified-marker {
	display: inline;
}

#sone .sone .last-update {
	display: inline;
}

#sone .sone form.block button, #sone .sone form.unblock button, #sone .sone form.follow button, #sone .sone form.unfollow button {
	display: inline;
	color: rgb(28, 131, 191);
	background: none;
	border: none;
	font: inherit;
	padding: 0px;
}

#sone .sone form.block button:hover, #sone .sone form.unblock button:hover, #sone .sone form.follow button:hover, #sone .sone form.unfollow button:hover {
	display: inline;
	color: rgb(255, 172, 0);
}

#sone .sone form {
	display: inline;
}

#sone h1 {
	font-family: inherit;
	font-size: 200%;
	font-weight: bold;
}

#sone .error label {
	color: red;
	font-weight: bold;
}

#sone input.createpost.default, input.reply-input.default {
	color: #888;
}
