<%include include/head.html>

	<h1><%= Page.AddSone.Page.Title|l10n|html></h1>

	<div><%= Page.AddSone.Text.SoneLoading|l10n|html|replace needle="{link}" replacement='<a href="knownSones.html">'|replace needle="{/link}" replacement='</a>'></div>

	<div><%= Page.AddSone.Text.ReturnToIndex|l10n|html|replace needle="{link}" replacement='<a href="index.html">'|replace needle="{/link}" replacement='</a>'></div>

	<div><%= Page.AddSone.Text.AddAnotherSone|l10n|html></div>

	<form method="post">
		<input type="hidden" name="formPassword" value="<% formPassword|html>" />
		<input type="text" name="request-uri" />
		<button type="submit"><%= Page.AddSone.Button.AddSone|l10n|html></button>
	</form>

<%include include/tail.html>
