<%include include/head.html>

	<h1><%= Page.Blacklist.Page.Title|l10n|html></h1>

	<p><%= Page.Blacklist.Text.Description|l10n|html></p>

	<div id="blacklist">
		<%getpage>
		<%paginate list=blacklistedSones pagesize=25>
		<%= page|store key=pageParameter>
		<%include include/pagination.html>
		<%foreach pagination.items sone>
			<%include include/viewSone.html>
		<%foreachelse>
			<p><%= Page.Blacklist.Text.Empty|l10n|html></p>
		<%/foreach>
		<%include include/pagination.html>
	</div>

<%include include/tail.html>
