<%include include/head.html>

	<h1><%= Page.CreatePost.Page.Title|l10n|html></h1>

	<%if errorTextEmpty>
		<p><%= Page.CreatePost.Error.EmptyText|l10n|html></p>
	<%/if>

	<form method="post">
		<input type="hidden" name="formPassword" value="<% formPassword|html>" />
		<input type="hidden" name="returnPage" value="<% returnPage|html>" />

		<div>
			<label for="text"><%= Page.CreatePost.Label.Text|l10n|html></label>
			<textarea name="text"><% text|html></textarea>
		</div>

		<div>
			<button type="submit"><%= Page.CreatePost.Button.Post|l10n|html></button>
		</div>

	</form>

<%include include/tail.html>
