<%include include/head.html>

	<h1><%= Page.DeletePost.Page.Title|l10n|html></h1>

	<p><%= Page.DeletePost.Text.PostWillBeGone|l10n|html></p>

	<form method="post">
		<input type="hidden" name="formPassword" value="<% formPassword|html>" />
		<input type="hidden" name="returnPage" value="<% returnPage|html>" />
		<input type="hidden" name="post" value="<% post.id|html>" />
		<button type="submit" name="confirmDelete" value="1"><%= Page.DeletePost.Button.Yes|l10n|html></button>
		<button type="submit" name="abortDelete" value="1"><%= Page.DeletePost.Button.No|l10n|html></button>
	</form>

<%include include/tail.html>
