<%include include/head.html>

	<h1><%= Page.DeleteReply.Page.Title|l10n|html></h1>

	<p><%= Page.DeleteReply.Text.PostWillBeGone|l10n|html></p>

	<form method="post">
		<input type="hidden" name="formPassword" value="<% formPassword|html>" />
		<input type="hidden" name="returnPage" value="<% returnPage|html>" />
		<input type="hidden" name="reply" value="<% reply|html>" />
		<button type="submit" name="confirmDelete" value="1"><%= Page.DeleteReply.Button.Yes|l10n|html></button>
		<button type="submit" name="abortDelete" value="1"><%= Page.DeleteReply.Button.No|l10n|html></button>
	</form>

<%include include/tail.html>
