<%include include/head.html>

	<script language="javascript">
		$(document).ready(function() {
			getTranslation("WebInterface.DefaultText.FirstName", function(firstNameDefaultText) {
				registerInputTextareaSwap("#sone #edit-profile input[name=first-name]", firstNameDefaultText, "first-name", true, true);
			});
			getTranslation("WebInterface.DefaultText.MiddleName", function(middleNameDefaultText) {
				registerInputTextareaSwap("#sone #edit-profile input[name=middle-name]", middleNameDefaultText, "middle-name", true, true);
			});
			getTranslation("WebInterface.DefaultText.LastName", function(lastNameDefaultText) {
				registerInputTextareaSwap("#sone #edit-profile input[name=last-name]", lastNameDefaultText, "last-name", true, true);
			});
			getTranslation("WebInterface.DefaultText.BirthDay", function(birthDayDefaultText) {
				registerInputTextareaSwap("#sone #edit-profile input[name=birth-day]", birthDayDefaultText, "birth-day", true, true);
			});
			getTranslation("WebInterface.DefaultText.BirthMonth", function(birthMonthDefaultText) {
				registerInputTextareaSwap("#sone #edit-profile input[name=birth-month]", birthMonthDefaultText, "birth-month", true, true);
			});
			getTranslation("WebInterface.DefaultText.BirthYear", function(birthYearDefaultText) {
				registerInputTextareaSwap("#sone #edit-profile input[name=birth-year]", birthYearDefaultText, "birth-year", true, true);
			});

			/* hide all the labels. */
			$("#sone #edit-profile label").hide();
		});
	</script>

	<h1><%= Page.EditProfile.Page.Title|l10n|html></h1>

	<p><%= Page.EditProfile.Page.Description|l10n|html></p>
	<p><%= Page.EditProfile.Page.Hint.Optionality|l10n|html></p>

	<%if changed>
		<p><%= Page.EditProfile.Page.Status.Changed|l10n|html></p>
	<%/if>

	<form id="edit-profile" method="post">
		<input type="hidden" name="formPassword" value="<% formPassword|html>" />

		<div>
			<label for="first-name"><%= Page.EditProfile.Label.FirstName|l10n|html></label>
			<input type="text" name="first-name" value="<% firstName|html>" />
		</div>

		<div>
			<label for="middle-name"><%= Page.EditProfile.Label.MiddleName|l10n|html></label>
			<input type="text" name="middle-name" value="<% middleName|html>" />
		</div>

		<div>
			<label for="last-name"><%= Page.EditProfile.Label.LastName|l10n|html></label>
			<input type="text" name="last-name" value="<% lastName|html>" />
		</div>

		<h1><%= Page.EditProfile.Birthday.Title|l10n|html></h1>

		<div id="birth-day">
			<label for="birth-day"><%= Page.EditProfile.Birthday.Label.Day|l10n|html></label>
			<input type="text" name="birth-day" value="<% birthDay|html>" />
		</div>

		<div id="birth-month">
			<label for="birth-month"><%= Page.EditProfile.Birthday.Label.Month|l10n|html></label>
			<input type="text" name="birth-month" value="<% birthMonth|html>" />
		</div>

		<div id="birth-year">
			<label for="birth-year"><%= Page.EditProfile.Birthday.Label.Year|l10n|html></label>
			<input type="text" name="birth-year" value="<% birthYear|html>" />
		</div>

		<div>
			<button type="submit"><%= Page.EditProfile.Button.Save|l10n|html></button>
		</div>

	</form>

<%include include/tail.html>
