<%include include/head.html>

	<script language="javascript">
		$(function() {
			getTranslation("WebInterface.DefaultText.FirstName", function(firstNameDefaultText) {
				registerInputTextareaSwap("#sone #edit-profile input[name=first-name]", firstNameDefaultText, "first-name", true, true);
			});
			getTranslation("WebInterface.DefaultText.MiddleName", function(middleNameDefaultText) {
				registerInputTextareaSwap("#sone #edit-profile input[name=middle-name]", middleNameDefaultText, "middle-name", true, true);
			});
			getTranslation("WebInterface.DefaultText.LastName", function(lastNameDefaultText) {
				registerInputTextareaSwap("#sone #edit-profile input[name=last-name]", lastNameDefaultText, "last-name", true, true);
			});
			getTranslation("WebInterface.DefaultText.BirthDay", function(birthDayDefaultText) {
				registerInputTextareaSwap("#sone #edit-profile input[name=birth-day]", birthDayDefaultText, "birth-day", true, true);
			});
			getTranslation("WebInterface.DefaultText.BirthMonth", function(birthMonthDefaultText) {
				registerInputTextareaSwap("#sone #edit-profile input[name=birth-month]", birthMonthDefaultText, "birth-month", true, true);
			});
			getTranslation("WebInterface.DefaultText.BirthYear", function(birthYearDefaultText) {
				registerInputTextareaSwap("#sone #edit-profile input[name=birth-year]", birthYearDefaultText, "birth-year", true, true);
			});
			getTranslation("WebInterface.DefaultText.FieldName", function(fieldNameDefaultText) {
				registerInputTextareaSwap("#sone #add-profile-field input[name=field-name]", fieldNameDefaultText, "field-name", true, true);
			});

			<%foreach fields field>
				registerInputTextareaSwap("#sone #edit-profile input[name=field-<% loop.count>]", <% field.key|js>, "field-<% loop.count>", true, true);
			<%/foreach>

			/* hide all the labels. */
			$("#sone #edit-profile label, #sone #add-profile-field label").hide();
		});
	</script>

	<h1><%= Page.EditProfile.Page.Title|l10n|html></h1>

	<p><%= Page.EditProfile.Page.Description|l10n|html></p>
	<p><%= Page.EditProfile.Page.Hint.Optionality|l10n|html></p>

	<form id="edit-profile" method="post">
		<input type="hidden" name="formPassword" value="<% formPassword|html>" />

		<div>
			<label for="first-name"><%= Page.EditProfile.Label.FirstName|l10n|html></label>
			<input type="text" name="first-name" value="<% firstName|html>" />
		</div>

		<div>
			<label for="middle-name"><%= Page.EditProfile.Label.MiddleName|l10n|html></label>
			<input type="text" name="middle-name" value="<% middleName|html>" />
		</div>

		<div>
			<label for="last-name"><%= Page.EditProfile.Label.LastName|l10n|html></label>
			<input type="text" name="last-name" value="<% lastName|html>" />
		</div>

		<h1><%= Page.EditProfile.Birthday.Title|l10n|html></h1>

		<div id="birth-day">
			<label for="birth-day"><%= Page.EditProfile.Birthday.Label.Day|l10n|html></label>
			<input type="text" name="birth-day" value="<% birthDay|html>" />
		</div>

		<div id="birth-month">
			<label for="birth-month"><%= Page.EditProfile.Birthday.Label.Month|l10n|html></label>
			<input type="text" name="birth-month" value="<% birthMonth|html>" />
		</div>

		<div id="birth-year">
			<label for="birth-year"><%= Page.EditProfile.Birthday.Label.Year|l10n|html></label>
			<input type="text" name="birth-year" value="<% birthYear|html>" />
		</div>

		<div>
			<button type="submit" name="save-profile" value="true"><%= Page.EditProfile.Button.Save|l10n|html></button>
		</div>

		<h1><%= Page.EditProfile.Fields.Title|l10n|html></h1>

		<p><%= Page.EditProfile.Fields.Description|l10n|html></p>

		<%foreach fields field fieldLoop>
			<div class="profile-field">
				<div class="name"><% field.key|html></div>
				<div class="edit-field-name"><button type="submit" name="edit-field-<% fieldLoop.count>" value="true"><%= Page.EditProfile.Fields.Button.Edit|l10n|html></button></div>
				<div class="delete-field-name"><button type="submit" name="delete-field-<% fieldLoop.count>" value="true"><%= Page.EditProfile.Fields.Button.Delete|l10n|html></button></div>
				<div class="<%if fieldLoop.last>hidden <%/if>move-down-field"><button type="submit" name="move-down-field-<% fieldLoop.count>" value="true"><%= Page.EditProfile.Fields.Button.MoveDown|l10n|html></button></div>
				<div class="<%if fieldLoop.first>hidden <%/if>move-up-field"><button type="submit" name="move-up-field-<% fieldLoop.count>" value="true"><%= Page.EditProfile.Fields.Button.MoveUp|l10n|html></button></div>
				<div class="value"><input type="text" name="field-<% fieldLoop.count>" value="<% field.value|html>" /></div>
			</div>

			<%if fieldLoop.last>
				<div>
					<button type="submit" name="save-profile" value="true"><%= Page.EditProfile.Button.Save|l10n|html></button>
				</div>
			<%/if>
		<%/foreach>

	</form>

	<form id="add-profile-field" method="post">
		<input type="hidden" name="formPassword" value="<% formPassword|html>" />

		<a name="profile-fields"></a>
		<h2><%= Page.EditProfile.Fields.AddField.Title|l10n|html></h2>

		<%if duplicateFieldName>
			<p><%= Page.EditProfile.Error.DuplicateFieldName|l10n|replace needle="{fieldName}" replacementKey="fieldName"|html></p>
		<%/if>

		<div id="new-field">
			<label for="new-field"><%= Page.EditProfile.Fields.AddField.Label.Name|l10n|html></label>
			<input type="text" name="field-name" value="" />
			<button type="submit" name="add-field" value="true"><%= Page.EditProfile.Fields.AddField.Button.AddField|l10n|html></button>
		</div>

	</form>

<%include include/tail.html>
