<%include include/head.html>

	<script language="javascript">

		/* ajaxify album creation input field. */
		$(document).ready(function() {
			getTranslation("WebInterface.DefaultText.CreateAlbum.Name", function(text) {
				$("#create-album input[name='name']").each(function() {
					registerInputTextareaSwap(this, text, "name", false, true);
				});
			});
			getTranslation("WebInterface.DefaultText.CreateAlbum.Description", function(text) {
				$("#create-album input[name='description']").each(function() {
					registerInputTextareaSwap(this, text, "description", true, true);
				});
			});
			$("#create-album label").hide();
		});

	</script>

	<div class="page-id hidden">image-browser</div>

	<%if albumRequested>

		<%ifnull album>

			<p><%= Page.ImageBrowser.Album.Error.NotFound.Text|l10n|html></p>

		<%elseifnull album.name>

			<p><%= Page.ImageBrowser.Album.Error.NotFound.Text|l10n|html></p>

		<%else>

			<h1><%= Page.ImageBrowser.Album.Title|l10n|replace needle='{album}' replacementKey=album.name|html></h1>

			<div class="backlinks">
				<%foreach album.backlinks backlink backlinks>
					<div class="backlink">
						<a href="<% backlink.target|html>"><% backlink.name|html></a>
					</div>
					<%if ! backlinks.last>
						<div class="separator">&gt;</div>
					<%/if>
				<%/foreach>
			</div>

			<%foreach album.albums album>
				<div class="album">
					<div class="image">
						<a href="imageBrowser.html?album=<% album.id|html>">
							<%ifnull album.image>
								<img src="images/unknown-image-0.png" width="200" height="150" alt="<% album.name|html>" title="<% album.name|html>" />
							<%else><!-- TODO -->
								<img src="images/unknown-image-0.png" width="200" height="150" alt="<% album.name|html>" title="<% album.name|html>" />
							<%/if>
						</a>
					</div>
				</div>
			<%/foreach>

			<div id="description">
				<% album.description|html>
			</div>

			<%if album.sone.current>
				<%include include/createAlbum.html>
			<%/if>

		<%/if>

	<%elseif imageRequested>

	<%elseif soneRequested>

		<%ifnull sone>

			<p><%= Page.ImageBrowser.Sone.Error.NotFound.Text|l10n|html></p>

		<%else>

			<h1><%= Page.ImageBrowser.Sone.Title|l10n|replace needle='{sone}' replacementKey=sone.niceName|html></h1>

			<%foreach sone.albums album>
				<div class="album">
					<div class="image">
						<a href="imageBrowser.html?album=<% album.id|html>">
							<%ifnull album.image>
								<img src="images/unknown-image-0.png" width="200" height="150" alt="<% album.name|html>" title="<% album.name|html>" />
							<%else><!-- TODO -->
								<img src="images/unknown-image-0.png" width="200" height="150" alt="<% album.name|html>" title="<% album.name|html>" />
							<%/if>
						</a>
					</div>
				</div>
			<%/foreach>

			<%if sone.current>
				<%include include/createAlbum.html>
			<%/if>

		<%/if>

	<%/if>

<%include include/tail.html>
