<%include include/head.html>

	<h1><%= Page.ImageBrowser.Page.Title|l10n|html></h1>

	<%if albumRequested>

		<%ifnull album>

			<p><%= Page.ImageBrowser.Album.Error.NotFound.Text|l10n|html></p>

		<%elseifnull album.name>

			<p><%= Page.ImageBrowser.Album.Error.NotFound.Text|l10n|html></p>

		<%else>

			<h2><% album.name|html></h2>

			<div class="backlinks">
				<%foreach album.backlinks backlink backlinks>
					<div class="backlink">
						<a href="<% backlink.target|html>"><% backlink.name|html></a>
					</div>
					<%if ! backlinks.last>
						<div class="separator">&gt;</div>
					<%/if>
				<%/foreach>
			</div>

		<%/if>

	<%/if>

<%include include/tail.html>
