<div id="sone">

	<h1><%= Page.Index.Page.Title|l10n|insert needle="{sone}" key=currentSone.name|html></h1>

	<div>
		<form action="createPost.html" method="post">
			<div>
				<label for="text"><%= Page.Index.Label.Text|l10n|html></label>
				<textarea name="text"></textarea>
			</div>
			<div>
				<button type="submit"><%= Page.Index.Button.Post|l10n|html></button>
			</div>
		</form>
	</div>

	<h1><%= Page.Index.PostList.Title|l10n|html></h1>

	<div id="posts">
		<%foreach posts post>
			<div class="post">
				<div class="author"><a href="viewSone.html?sone=<% post.sone.id>"><% post.sone.niceName|html></a></div>
				<div class="text"><% post.text|html></div>
				<div class="time"><% post.time|date format="MMM d, yyyy, HH:mm:ss"></div>
			</div>
		<%foreachelse>
			<div><%= Page.Index.PostList.Text.NoPostYet|l10n|html></div>
		<%/foreach>
	</div>

</div>