<%include include/head.html>

	<script language="javascript">
		/* register input field/textarea swap. */
		$(document).ready(function() {
			registerInputTextareaSwap("#sone input.reply-input", "WebInterface.DefaultText.Reply", "text", false);
			addCommentLinks();
		});
	</script>

	<h1><%= Page.Index.PostList.Title|l10n|html></h1>

	<div id="posts">
		<%foreach posts post>
			<%include include/viewPost.html>
		<%foreachelse>
			<div><%= Page.Index.PostList.Text.NoPostYet|l10n|html></div>
		<%/foreach>
	</div>

<%include include/tail.html>
