<div id="sone">

	<script src="javascript/jquery-1.4.2.js" language="javascript"></script>
	<script src="javascript/sone.js" language="javascript"></script>

	<script language="javascript">
		/* register input field/textarea swap. */
		$(document).ready(function() {
			registerInputTextareaSwap("#sone input.createpost", "What are you doing?");
		});
	</script>

	<h1><%= Page.Index.Page.Title|l10n|insert needle="{sone}" key=currentSone.name|html></h1>

	<div>
		<form action="createPost.html" method="post">
			<div>
				<label for="text"><%= Page.Index.Label.Text|l10n|html></label>
				<input class="createpost" name="text" />
			</div>
			<div>
				<button type="submit"><%= Page.Index.Button.Post|l10n|html></button>
			</div>
		</form>
	</div>

	<h1><%= Page.Index.PostList.Title|l10n|html></h1>

	<div id="posts">
		<%foreach posts post>
			<%include include/viewPost.html>
		<%foreachelse>
			<div><%= Page.Index.PostList.Text.NoPostYet|l10n|html></div>
		<%/foreach>
	</div>
	
	<h1><%= Page.Index.AddSone.Title|l10n|html></h1>
	
	<div><%= Page.Index.AddSone.Description|l10n|html></div>

	<form action="addSone.html" method="post">
		<input type="hidden" name="formPassword" value="<% formPassword|html>" />
		<input id="addsone" type="text" name="request-uri" />
		<button type="submit"><%= Page.Index.AddSone.Button.Add|l10n|html></button>
	</form>
</div>
