<%include include/head.html>
	<%if !sones.empty>
		<h1><%= Page.Login.Page.Title|l10n|html></h1>
		<form method="post">
			<input type="hidden" name="formPassword" value="<% formPassword|html>" />
			<label for="sone-id"><%= Page.Login.Label.SelectSone|l10n|html></label>
			<select name="sone-id">
				<option disabled="disabled"><%= Page.Login.Option.NoSone|l10n|html></option>
				<%foreach sones sone>
					<option value="<% sone.id|html>"><% sone.niceName|html> (<% sone.name|html>)</option>
				<%/foreach>
			</select>
			<button type="submit">Select</button>
		</form>
	<%/if>

	<h1><%= Page.Login.LoadSone.Title|l10n|html></h1>
	<div><%= Page.Login.LoadSone.Description|l10n|html></div>
	<%include include/loadSone.html>

	<h1><%= Page.Login.CreateSone.Title|l10n|html></h1>
	<div><%= Page.Login.CreateSone.Description|l10n|html></div>
	<%include include/createSone.html>

<%include include/tail.html>
