<%include include/head.html>

	<div class="page-id hidden">metrics</div>

	<h1><%= Page.Metrics.Page.Title|l10n|html></h1>

	<table>
		<thead>
			<tr>
				<td>Metric</td>
				<td>Count</td>
				<td>Min</td>
				<td>Max</td>
				<td>Mean</td>
				<td>Median</td>
				<td>75%</td>
				<td>95%</td>
				<td>98%</td>
				<td>99%</td>
				<td>99.9%</td>
			</tr>
		</thead>
		<tbody>
			<%foreach histogramKeys histogramKey>
				<tr>
					<td><%= "Page.Metrics.<%= '<%histogramKey>I18n'|parse>.Title"|parse|l10n|html></td>
					<td class="numeric"><% "<%histogramKey>Count"|parse|html></td>
					<td class="numeric"><% "<%histogramKey>Min"|parse|duration scale=="μs"|html></td>
					<td class="numeric"><% "<%histogramKey>Max"|parse|duration scale=="μs"|html></td>
					<td class="numeric"><% "<%histogramKey>Mean"|parse|duration scale=="μs"|html></td>
					<td class="numeric"><% "<%histogramKey>Median"|parse|duration scale=="μs"|html></td>
					<td class="numeric"><% "<%histogramKey>Percentile75"|parse|duration scale=="μs"|html></td>
					<td class="numeric"><% "<%histogramKey>Percentile95"|parse|duration scale=="μs"|html></td>
					<td class="numeric"><% "<%histogramKey>Percentile98"|parse|duration scale=="μs"|html></td>
					<td class="numeric"><% "<%histogramKey>Percentile99"|parse|duration scale=="μs"|html></td>
					<td class="numeric"><% "<%histogramKey>Percentile999"|parse|duration scale=="μs"|html></td>
				</tr>
			<%/foreach>
		</tbody>
	</table>

<%include include/tail.html>
