<%include include/head.html>

	<div class="page-id hidden">metrics</div>

	<h1><%= Page.Metrics.Page.Title|l10n|html></h1>

	<table>
		<thead>
			<tr>
				<td>Metric</td>
				<td>Count</td>
				<td>Min</td>
				<td>Max</td>
				<td>Mean</td>
				<td>Median</td>
				<td>75%</td>
				<td>95%</td>
				<td>98%</td>
				<td>99%</td>
				<td>99.9%</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= Page.Metrics.SoneInsertDuration.Title|l10n|html></td>
				<td class="numeric"><% soneInsertDurationCount|html></td>
				<td class="numeric"><% soneInsertDurationMin|duration scale=="μs"|html></td>
				<td class="numeric"><% soneInsertDurationMax|duration scale=="μs"|html></td>
				<td class="numeric"><% soneInsertDurationMean|duration scale=="μs"|html></td>
				<td class="numeric"><% soneInsertDurationMedian|duration scale=="μs"|html></td>
				<td class="numeric"><% soneInsertDurationPercentile75|duration scale=="μs"|html></td>
				<td class="numeric"><% soneInsertDurationPercentile95|duration scale=="μs"|html></td>
				<td class="numeric"><% soneInsertDurationPercentile98|duration scale=="μs"|html></td>
				<td class="numeric"><% soneInsertDurationPercentile99|duration scale=="μs"|html></td>
				<td class="numeric"><% soneInsertDurationPercentile999|duration scale=="μs"|html></td>
			</tr>
			<tr>
				<td><%= Page.Metrics.SoneParsingDuration.Title|l10n|html></td>
				<td class="numeric"><% soneParsingDurationCount|html></td>
				<td class="numeric"><% soneParsingDurationMin|duration scale=="μs"|html></td>
				<td class="numeric"><% soneParsingDurationMax|duration scale=="μs"|html></td>
				<td class="numeric"><% soneParsingDurationMean|duration scale=="μs"|html></td>
				<td class="numeric"><% soneParsingDurationMedian|duration scale=="μs"|html></td>
				<td class="numeric"><% soneParsingDurationPercentile75|duration scale=="μs"|html></td>
				<td class="numeric"><% soneParsingDurationPercentile95|duration scale=="μs"|html></td>
				<td class="numeric"><% soneParsingDurationPercentile98|duration scale=="μs"|html></td>
				<td class="numeric"><% soneParsingDurationPercentile99|duration scale=="μs"|html></td>
				<td class="numeric"><% soneParsingDurationPercentile999|duration scale=="μs"|html></td>
			</tr>
		</tbody>
	</table>

<%include include/tail.html>
