<%include include/head.html>

	<script language="javascript">
		$(document).ready(function() {
			getTranslation("WebInterface.DefaultText.Option.InsertionDelay", function(insertionDelayDefaultText) {
				registerInputTextareaSwap("#sone #options input[name=insertion-delay]", insertionDelayDefaultText, "insertion-delay", true, true);
			});
			getTranslation("WebInterface.DefaultText.Option.PostsPerPage", function(postsPerPageText) {
				registerInputTextareaSwap("#sone #options input[name=posts-per-page]", postsPerPageText, "posts-per-page", true, true);
			});
			getTranslation("WebInterface.DefaultText.Option.PositiveTrust", function(positiveTrustText) {
				registerInputTextareaSwap("#sone #options input[name=positive-trust]", positiveTrustText, "positive-trust", true, true);
			});
			getTranslation("WebInterface.DefaultText.Option.NegativeTrust", function(negativeTrustText) {
				registerInputTextareaSwap("#sone #options input[name=negative-trust]", negativeTrustText, "negative-trust", true, true);
			});
			getTranslation("WebInterface.DefaultText.Option.TrustComment", function(trustCommentText) {
				registerInputTextareaSwap("#sone #options input[name=trust-comment]", trustCommentText, "trust-comment", true, true);
			});
		});
	</script>

	<h1><%= Page.Options.Page.Title|l10n|html></h1>

	<p><%= Page.Options.Page.Description|l10n|html></p>

	<form id="options" method="post">
		<input type="hidden" name="formPassword" value="<% formPassword|html>" />

		<h2><%= Page.Options.Section.SoneSpecificOptions.Title|l10n|html></h2>

		<%ifnull currentSone>
			<p><%= Page.Options.Section.SoneSpecificOptions.NotLoggedIn|l10n|html|replace needle="{link}" replacement='<a href="login.html">'|replace needle="{/link}" replacement='</a>'></p>
		<%/if>

		<p>
			<input type="checkbox" name="auto-follow"<%ifnull currentSone> disabled="disabled"<%/if><%if auto-follow> checked="checked"<%/if> />
			<%= Page.Options.Option.AutoFollow.Description|l10n|html>
		</p>

		<h2><%= Page.Options.Section.RuntimeOptions.Title|l10n|html></h2>

		<p><%= Page.Options.Option.InsertionDelay.Description|l10n|html></p>
		<p><input type="text" name="insertion-delay" value="<% insertion-delay|html>" /></p>

		<p><%= Page.Options.Option.PostsPerPage.Description|l10n|html></p>
		<p><input type="text" name="posts-per-page" value="<% posts-per-page|html>" /></p>

		<h2><%= Page.Options.Section.TrustOptions.Title|l10n|html></h2>

		<p><%= Page.Options.Option.PositiveTrust.Description|l10n|html></p>
		<p><input type="text" name="positive-trust" value="<% positive-trust|html>" /></p>

		<p><%= Page.Options.Option.NegativeTrust.Description|l10n|html></p>
		<p><input type="text" name="negative-trust" value="<% negative-trust|html>" /></p>

		<p><%= Page.Options.Option.TrustComment.Description|l10n|html></p>
		<p><input type="text" name="trust-comment" value="<% trust-comment|html>" /></p>

		<h2><%= Page.Options.Section.RescueOptions.Title|l10n|html></h2>

		<p><%= Page.Options.Option.SoneRescueMode.Description|l10n|html></p>
		<p><select name="sone-rescue-mode"><option disabled="disabled"><%= WebInterface.SelectBox.Choose|l10n|html></option><option value="true"<%if sone-rescue-mode> selected="selected"<%/if>><%= WebInterface.SelectBox.Yes|l10n|html></option><option value="false"<%if !sone-rescue-mode> selected="selected"<%/if>><%= WebInterface.SelectBox.No|l10n|html></option></select>

		<h2><%= Page.Options.Section.Cleaning.Title|l10n|html></h2>

		<p><%= Page.Options.Option.ClearOnNextRestart.Description|l10n|html|replace needle="{strong}" replacement="<strong>"|replace needle="{/strong}" replacement="</strong>"></p>
		<p><select name="clear-on-next-restart"><option disabled="disabled"><%= WebInterface.SelectBox.Choose|l10n|html></option><option value="true"<%if clear-on-next-restart> selected="selected"<%/if>><%= WebInterface.SelectBox.Yes|l10n|html></option><option value="false"<%if ! clear-on-next-restart> selected="selected"<%/if>><%= WebInterface.SelectBox.No|l10n|html></option></select>

		<p><%= Page.Options.Option.ReallyClearOnNextRestart.Description|l10n|html|replace needle="{strong}" replacement="<strong>"|replace needle="{/strong}" replacement="</strong>"></p>
		<p><select name="really-clear-on-next-restart"><option disabled="disabled"><%= WebInterface.SelectBox.Choose|l10n|html></option><option value="true"<%if really-clear-on-next-restart> selected="selected"<%/if>><%= WebInterface.SelectBox.Yes|l10n|html></option><option value="false"<%if ! really-clear-on-next-restart> selected="selected"<%/if>><%= WebInterface.SelectBox.No|l10n|html></option></select>

		<p><button type="submit"><%= Page.Options.Button.Save|l10n|html></button></p>

	</form>

<%include include/tail.html>
