<%include include/head.html>

	<script language="javascript">
		$(document).ready(function() {
			registerInputTextareaSwap("#sone #options input[name=insertion-delay]", "WebInterface.DefaultText.Option.InsertionDelay", "insertion-delay", true, true);
		});
	</script>

	<h1><%= Page.Options.Page.Title|l10n|html></h1>

	<p><%= Page.Options.Page.Description|l10n|html></p>

	<form id="options" method="post">
		<input type="hidden" name="formPassword" value="<% formPassword|html>" />

		<p><%= Page.Options.Option.InsertionDelay.Description|l10n|html></p>
		<p><input type="text" name="insertion-delay" value="<% insertion-delay|html>" /></p>

		<p><%= Page.Options.Option.ClearOnNextRestart.Description|l10n|html|replace needle="{strong}" replacement="<strong>"|replace needle="{/strong}" replacement="</strong>"></p>
		<p><select name="clear-on-next-restart"><option disabled="disabled"><%= WebInterface.SelectBox.Choose|l10n|html></option><option value="true"<%if clear-on-next-restart> selected="selected"<%/if>><%= WebInterface.SelectBox.Yes|l10n|html></option><option value="false"<%if ! clear-on-next-restart> selected="selected"<%/if>><%= WebInterface.SelectBox.No|l10n|html></option></select>

		<p><button type="submit"><%= Page.Options.Button.Save|l10n|html></button></p>

	</form>

<%include include/tail.html>
