<%include include/head.html>

	<%ifnull sone.name>

		<h1><%= Page.ViewSone.Page.TitleWithoutSone|l10n|html></h1>

		<div><%= Page.ViewSone.UnknownSone.Description|l10n|html></div>

	<%else>

		<h1><%= Page.ViewSone.Page.TitleWithSone|l10n|insert needle="{sone}" key=sone.niceName|html></h1>

		<h1><%= Page.ViewSone.PostList.Title|l10n|insert needle="{sone}" key=sone.niceName|html></h1>

		<%if ! sone.isCurrent>
			<%if sone.isFriend>
				<div><a href="unfollowSone.html?sone=<% sone.id>"><%= Page.ViewSone.UnfollowSone.Text|l10n|html></a></div>
			<%else>
				<div><a href="followSone.html?sone=<% sone.id>"><%= Page.ViewSone.FollowSone.Text|l10n|html></a></div>
			<%/if>
		<%/if>

		<div id="posts">
			<%foreach sone.posts post>
				<div class="post">
					<div class="author"><a href="viewSone.html?sone=<% post.sone.id>"><% post.sone.niceName|html></a></div>
					<div class="text"><% post.text|html></div>
					<div class="time"><% post.time|date format="MMM d, yyyy, HH:mm:ss"></div>
				</div>
				<%foreach post.replies reply>
					<div class="reply">
						<div class="author"><a href="viewSone.html?sone=<% reply.sone.id>"><% reply.sone.niceName|html></a></div>
						<div class="text"><% reply.text|html></div>
						<div class="time"><% reply.time|date format="MMM d, yyyy, HH:mm:ss"></div>
					</div>
				<%/foreach>
				<div class="create-reply">
					<form method="post" action="createReply.html">
						<input type="hidden" name="formPassword" value="<% formPassword|html>" />
						<input type="hidden" name="post" value="<% post.id>" />
						<input type="text" name="text" value="" />
						<button type="submit">Post Reply</button>
					</form>
				</div>
			<%foreachelse>
				<div><%= Page.ViewSone.PostList.Text.NoPostYet|l10n|html></div>
			<%/foreach>
		</div>

		<h1><%= Page.ViewSone.Following.Title|l10n|html></h1>

		<div id="following">
			<%foreach sone.friends friend>
				<%first>
					<ul>
				<%/first>
					<li><a href="viewSone.html?sone=<% friend.id>"><% friend.niceName|html></a> (<% friend.requestUri|html>)</li>
				<%last>
					</ul>
				<%/last>
			<%foreachelse>
				<div><%= Page.ViewSone.Following.FollowingNone.Text|l10n|html></div>
			<%/foreach>
		</div>

	<%/if>

<%include include/tail.html>
