<%include include/head.html>

	<div class="page-id hidden">view-sone</div>
	<div class="sone-id hidden"><% sone.id|html></div>

	<%ifnull sone>

		<h1><%= Page.ViewSone.Page.TitleWithoutSone|l10n|html></h1>

		<p><%= Page.ViewSone.NoSone.Description|l10n|replace needle="{sone}" replacementKey=sone.id|html></p>

	<%elseifnull sone.name>

		<h1><%= Page.ViewSone.Page.TitleWithoutSone|l10n|html></h1>

		<p><%= Page.ViewSone.UnknownSone.Description|l10n|html></p>

	<%else>

		<%if ! sone.current>
			<%include include/viewSone.html>
		<%/if>

		<h1><%= Page.ViewSone.Profile.Title|l10n|html></h1>

			<div class="profile-field">
				<div class="name"><%= Page.ViewSone.Profile.Label.Name|l10n|html></div>
				<div class="value"><a href="/WoT/ShowIdentity?id=<% sone.id|html>"><% sone.niceName|html></a></div>
			</div>

			<%foreach sone.profile.fields field>
				<div class="profile-field">
					<div class="name"><% field.name|html></div>
					<div class="value"><% field.value|parse></div>
				</div>
			<%/foreach>

		<%if ! sone.current>
			<p><%= Page.ViewSone.WriteAMessage|l10n|html></p>

			<form action="createPost.html" id="post-message" method="post">
				<input type="hidden" name="formPassword" value="<% formPassword|html>" />
				<input type="hidden" name="returnPage" value="<% request.uri|html>" />
				<input type="hidden" name="recipient" value="<% sone.id|html>" />
				<input type="text" name="text" value="" />
				<button type="submit"><%= Page.CreatePost.Button.Post|l10n|html></button>
			</form>
		<%/if>

		<h1><%= Page.ViewSone.PostList.Title|l10n|replace needle="{sone}" replacementKey=sone.niceName|html></h1>

		<div id="posts">
			<%:getpage parameter=postPage>
			<%:paginate list=sone.posts pagesize=25>
			<%= postPage|store key=pageParameter>
			<%include include/pagination.html>
			<%foreach pagination.items post>
				<%include include/viewPost.html>
			<%foreachelse>
				<div><%= Page.ViewSone.PostList.Text.NoPostYet|l10n|html></div>
			<%/foreach>
			<%include include/pagination.html>
		</div>

	<%/if>

<%include include/tail.html>
